
.progress-bar {
    width: 100%;
}

.progress-bar-fill {
    z-index: 100;
    height: 40px;
    position: relative;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 10px;  
    border-bottom: #c5c8d1 solid 0px;
    display: inline-grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}