<div class="progress">
  <div class="progress-bar">
    <span class="progress-bar-fill"></span>
  </div>
</div>


{% schema %}
  {
    "name": "Free ship",
    "target": "body",
    "stylesheet": "freeship-bar.css",
    "javascript": "freeship-booster-bar.js",
    "settings": []
  }
{% endschema %}